#about{
    padding: 15px;
}
.about-container{
    background-color: #fff;
    width: 100%;
    display: grid;
    /* border: 1px solid blue; */
    grid-template-columns: 1fr;
    height: 100%;
}


.--profile{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.profile-pic img{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;

}

.profile-detail{
    margin-left: 10px;
}

.profile-detail p:nth-child(1){
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}
.profile-detail p:nth-child(2){
    color: grey;
}

.--summary{
    padding: 1rem;
    margin-top: 10px;
    background-color: rgb(241, 241, 241);
}

.--summary .career-obj{
    text-align: justify;
    text-indent: 1rem;
    padding: 10px 0px;
}
.bio-data table{
    width: 100%;
    background-color: #fff;
    /* border: 1px solid black; */
}
th{
    /* border: 1px solid black; */
    text-align: left;
    padding: 5px 30px 5px 0px;
}


.--skill{
    padding: 2rem;
    /* border: 1px solid blue; */
    /* background-color: lightblue; */
}
.skill-logos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 80px));    
    grid-template-rows: 80px;
}

.skill-logo{
    margin: 5px 8px;
    /* border: 1px solid; */
    padding: 2px;
}

.skill-logo img{
    width: 100%;
    height: 100%;
}


@media(min-width:1024px){
    #about{
        padding: 2rem 3rem;
    }

    .about-container{
        grid-template-columns: repeat(2, 1fr);
    }
}